In [2]:
#import files
import pandas as pd
import numpy as np

In [3]:
# Load csv file
purchase_file = "../Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_file, encoding="utf-8")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [5]:
# Player count - Total number of players
total_players = len(purchase_df["SN"].value_counts())

total_players_sum = pd.DataFrame({"Total Players": [total_players]})
total_players_sum

   Total Players
0            576

In [6]:
# Purchasing Analysis(Total)
# number of unique items, Avg Purchase Price, Total number of Purchases, Total Revenue
number_unique_items = len((purchase_df["Item ID"]).unique())
avg_price = (purchase_df["Price"]).mean()
total_number_purchases = (purchase_df["Purchase ID"]).count()
total_revenue = (purchase_df["Price"]).sum()

# data frame to display analysis
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[number_unique_items],
                                       "Average Purchase Price":[avg_price],
                                       "Total Number of Purchases":[total_number_purchases],
                                       "Total Revenue":[total_revenue]})

#format Avg Price and Total Revenue
purchasing_analysis_df.style.format({'Average Purchase Price':"${:,.2f}",
                                     'Total Revenue':"${:,.2f}"})

In [7]:
#Gender Demographics
gender_stats = purchase_df.groupby("Gender")
#percentage and count of Male players
#percentage and count of Female players
#percentage and count of Other / Non-Disclosed players
player_gender_count = gender_stats.nunique()["SN"]
player_gender_percentage = player_gender_count / total_players * 100
gender_demographics = pd.DataFrame({"Percentage of Players": player_gender_percentage, "Total Count": player_gender_count})
#remove Index from DataFrame
gender_demographics.index.name = None
#format output
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [11]:
#Purchasing Analysis (Gender)
#by Gender; Purchase Count, Avg Purchase Price, Total Purchase Value, Avg Purhcase total per Person by Gender
purchase_count = gender_stats["Purchase ID"].count()
avg_purchase_price = gender_stats["Price"].mean()
total_purchase_price = gender_stats["Price"].sum()
avg_purchase_person = total_purchase_price/player_gender_count

#display in dataframe
purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_purchase_price,
                                 "Total Purchase Value": total_purchase_price,
                                 "Average Purchase Total per Person by Gender": avg_purchase_person})
#add index in top left to show each gender
purchase_analysis.index.name = "Gender"

#format Currency
purchase_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person by Gender":"${:,.2f}"})

In [ ]:
#Age Demographics
#The below each broken into bins of 4 year (<10, 10-14,15-19,>20)
    #Purchase Count, Avg Purchase Price, Total Purchase Value, Avg Purhcase total per Person by Age Group

In [ ]:
#Top Spenders
#Identify the top 5 spenders in the game by total purchase value, then list (in a table): 
    #SN(ScreenName), Purchase Count, Avg Purchase Price, Total Purchase Value

In [ ]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):
    #Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value

In [ ]:
#Most Profitable Items
#Identify the 5 most profitable items by total purchase value, then list (in a table):
    #Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value